.login-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.login-top {
    position: absolute;
    width: 100%;
}

.login-login {
    width: 100%;
    height: 100vh;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-height: 870px) {
        margin-top: 240px;    
        justify-content: flex-start;    
    }
}

.login-back {
    cursor: pointer;
    width: fit-content;
    position: absolute;
    top: 190px;
    left: 10%;
}

.login-back img {
    width: 30px;
    object-fit: cover;
}

.login-submit {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-submit h2 {
    width: 65%;
    max-width: 400px;
    font-family: "Gugi";
    font-size: 2.8rem;
    margin: 20px;

    @media (max-width: 700px) {
        width: 75%;
    }
}

.login-submit input {
    background-color: #FFF3B3;
    border: none;
    border-radius: 50px;
    width: 65%;
    max-width: 400px;
    height: 25%;
    margin: 5px;
    padding: 1.1rem 20px;
    font-family: "Jua";
    font-size: 1.1rem;

    @media (max-width: 700px) {
        width: 75%;
    }
}

.login-submit input::placeholder {
    color: #746745;
}

.login-submit button {
    background-color: #FFE660;
    border: none;
    border-radius: 50px;
    width: 65%;
    max-width: 400px;
    padding: 1.1rem 0;
    margin: 20px;
    font-size: 1.1rem;
    font-family: "Gugi";

    @media (max-width: 700px) {
        width: 75%;
    }
}

.login-submit-icon {
    width: 65%;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

.login-submit-icon button {
    background-color: transparent;
    border: none;
    width: fit-content;
    margin: 10px 0 10px 0;
}

.login-submit-icon img {
    width: 40px;
    object-fit: cover;
}
/*

.login-login input::placeholder {
    color: #746745;
}

.login-login button {
    background-color: #FFE660;
    border: none;
    border-radius: 50px;
    width: 75%;
    max-width: 400px;
    height: 7%;
    margin: 15px;
    font-size: 1.1rem;
    font-family: "Gugi";
} */