.mypage-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
}

.mypage-top {
    width: 100%;
}

.mypage-top .top-container {
    height: 800px;

    @media (max-height: 700px),
    (max-width: 700px) {
        height: 70vh;
    }
}

.mypage-top-link {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
}

.mypage-top-link img {
    cursor: pointer;
    width: 1.3rem;
    margin: 0 1.2rem;
    opacity: 0.75;

    position: relative;
    bottom: 0.1rem;

    @media(max-height: 700px) {
        width: 0.8rem;
        margin: 0 0.6rem;
    }
}

.mypage-top-link h4 {
    font-family: "Jua";
    font-weight: 400;
    font-size: 1.5rem;
    color: #746745;

    @media(max-height: 700px) {
        font-size: 13px;
    }
}

.mypage-profile-box {
    position: relative;
    left: 25%;
    z-index: 1;
    width: 50%;
    height: auto;
    border-radius: 20px;
    background-color: rgb(255, 249, 215);
    padding: 0 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (max-height: 700px) and (max-width: 700px) {
        left: 30%;
        width: 40%;
    }
}

.mypage-profile-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0.7rem;
}

.mypage-profile-top img {
    width: 30px;
    transform: scale(1, -1);
}

.mypage-profile-top p {
    width: fit-content;
    background-color: rgb(80, 17, 215);
    color: white;
    border-radius: 3px;
    font-size: 0.8rem;
    padding: 0.3rem 1.2rem;
}

.mypage-profile-img {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    bottom: 1.5rem;
}

.mypage-profile-img img {
    border: 3px solid rgb(251, 197, 93);
    border-radius: 100%;
    width: 40%;
    object-fit: cover;
    margin-bottom: 0.5rem;

    @media (max-height: 700px),
    (max-width: 700px) {
        width: 10vh;
    }
}

.mypage-profile-name {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    position: relative;
    bottom: 1rem;
}

.mypage-profile-name h4 {
    font-weight: 400;
    font-family: "Jua";
    font-size: 1.5rem;
    color: #746745;

    @media (max-height: 700px),
    (max-width: 700px) {
        font-size: 13px;
    }
}

.mypage-profile-dc {
    width: 100%;
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mypage-dcbox {
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #776BFF, #BCB7FF);
    border-radius: 10px;
    width: 7rem;
    height: 7rem;

    @media (max-height: 700px) {
        width: 3.5rem;
        height: 3.5rem;
        margin: 1% 1rem;
    }
}

.mypage-dcbox p {
    font-family: "Jua";
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 25px;
    color: white;

    @media (max-height: 700px) {
        font-size: 0.7rem;
        line-height: 1.5;
    }
}

.mypage-feedback-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
}

.mypage-feedback-top {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #746745;
    background-color: #FFFDF3;
}


.mypage-feedback-top p {
    font-family: "GmarketSansMedium";
    font-size: 1rem;
    color: #746745;
    margin-left: 1rem;
}


.mypage-feedback-top img {
    cursor: pointer;
    width: 1.7rem;
    margin: 0.7rem 1rem;
    opacity: 0.6;
}

.mypage-feedback-top img:hover {
    opacity: 1;
}

.mypage-feedback-box {
    width: 90%;
    height: 22vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #746745;
    border-top: none;
    background-color: #FFFEF3;
}

.mypage-feedback-topic {
    width: 28%;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mypage-feedback-topic img {
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15vh;
    z-index: 0;
    object-fit: cover;
    opacity: 0.75;
    transition: opacity 0.5s ease;
}

.mypage-feedback-topic img:hover {
    opacity: 1;
}

.mypage-feedback-topic h4 img:hover

.mypage-feedback-topic h4 {
    position: relative;
    z-index: 1;
    font-size: 3.5vh;
    color: white;
    background-color: transparent;
    margin: 5.5vh 0;
}