.practice-container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #FFFDF3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.practice-navbar {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #AEAAA2;
    background-color: #FFFDF3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.practice-navbar img{
    backface-visibility: hidden;
    cursor: pointer;
    width: 1.5rem;
    margin-right: 1.5rem;
}

.practice-navbar h4 {
    font-size: 1.5rem;
    color: #AEAAA2;
}

.practice-chat {
    width: 100%;
    height: calc(100% - 100px);
    overflow-y: auto;
}

.ai-chat {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
}

.ai-chat-img {
    margin: 1rem 3rem 1rem 1rem;
    position: relative;
}

.ai-chat-img img{
    width: 5rem;
    position: relative;
    z-index: 1;
}

.ai-chat-img p {
    position:absolute;
    bottom: -2%;
    left: 3%;
    z-index: 0;
    width: 100%;
    height: 25%;
    border-radius: 50%;
    background-color: #EFE9C8;
}

.ai-chat-dialogue {
	position: relative;
	background-color: rgb(228, 222, 254);
	border-radius: .4em;
    width: 70%;
    height: 7rem;
    margin-right: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
}

.ai-chat-dialogue:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 17px solid transparent;
	border-right-color: rgb(228, 222, 254);
    border-left: 0;
	margin-top: -17px;
	margin-left: -16px;
}

.practice-input {
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    background-color: rgb(255, 238, 148);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.practice-input input {
    width: 100%;
    border: none;
    /* border: 1px solid black; */
    outline: none;
    font-family: 'NEXON Lv2 Gothic';
    font-size: 1.5rem;
    font-weight: 600;
    height: 2rem;
    margin: auto 0 auto 15px;
    background-color: rgb(255, 238, 148);
}

.practice-input-send {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.practice-input-send button {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    margin: 0.5rem 3px 0.5rem 1px;
    background-color: rgb(255, 238, 148);
}

.practice-input-send img {
    width: 100%;
    object-fit: cover;
}

.practice-chat-answer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-box {
    align-self: flex-end;
    position: relative;
    background-color: #FFF3B3;
    border-radius: .4em;
    width: 70%;
    height: 5rem;
    padding: 1rem;
    margin-right: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.answer-box:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 17px solid transparent;
    border-left-color: #FFF3B3;
    border-right: 0;
    margin-top: -17px;
    margin-right: -16px;
}

.feedback-box {
    width: 80%;
    color: blue;
}

.feedback-box img {
    width: 5rem;
    position: relative;
    z-index: 1;
}

.feedback-box p{
    background-color: white;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2;
    padding: 1.2rem 0.6rem;
    border: 3px solid #39085A;

    position: relative;
    bottom: 1rem;
}

.score-box {
    width: 80%;
    background-color: white;
    color: red;
}

.score-box {
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 600;
    padding: 0.6rem;
    border: 3px solid #39085A;
    border-radius: 10px;
}

.practice-finish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 70%;
    margin: 1rem 15%;
    padding: 0.5rem;
    line-height: 1.5;
}

.practice-finish span, .practice-finish h4{
    cursor: pointer;
    color: #39085A;
    font-weight: bold;
}